*.so
*.m~
*.asv
*no-commit*
*.fig
*.wav
*.pdf
*.zip
Interim_results/*.mat
examples/*/figs/*
*.DS_Store
sound_files/validation_SQAT_v1_0/*
sound_files/publications/*
sound_files/pub_Osses2023c_Forum_Acusticum_SQAT/*
sound_files/AIAA-2020-2582_Sound_Files/*