*.so
*.m~
*.asv
*no-commit*
*.zip
Interim_results/*.mat
*.DS_Store
fastACI_dir_data.m
fastACI_dir_datapost.m
fastACI_dir_amtoolbox.m
fastACI_dir_phaseret.m
fastACI_dir_AFCtoolbox.m
dau1997_cfg.m
king2019_cfg.m
king2019a_cfg.m
maxwell2020_cfg.m
osses2021_cfg.m
osses2022a_cfg.m
relanoiborra2019_cfg.m
*Results_ACI*
